Lab4/2347203_Lab4.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (id, name, price, quantity, category)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT category (#PCDATA)>

<!ATTLIST id type CDATA #REQUIRED>
<!ATTLIST price type CDATA #REQUIRED>
<!ATTLIST quantity type CDATA #REQUIRED>
<!ATTLIST category type CDATA #REQUIRED value (Electronics|Clothing|Books) >